.about-dev {
  margin-bottom: 30px;

  @include desctopePoint {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-dev__info {
  margin-bottom: 40px;

  @include desctopePoint {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-dev__proffesion {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #595959;
}

.about-dev__name {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;

  @include tablets {
    text-align: center;
  }
}

.about-dev__born {
  color: #595959;
  margin-bottom: 20px;
}

.about-dev__desc {
  color: #595959;
  font-size: 14px;
  padding-right: 166px;

  @include desctopePoint{
    padding: 0 60px;
  }
}

